/* =================  HOME SCREEN ========================= */

.home_screen_container {
    max-width: 1200px;
    margin: auto;
    height: 100dvh;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    overflow: hidden;
}

.home_screen_module_container {
    position: relative;
    height: 100%;
    width: 100%;
}




/* ============ HOME SCREEN MODULES ======================= */
/* ======== HOME PAGE MODULE ==========*/

.home_page_module_container,
.login_module_container {
    background-color: rgba(240, 240, 240, 0.24);
    border-radius: 20px;
    padding: 30px 40px;
    aspect-ratio: 1;
    position: absolute;
    backdrop-filter: blur(3px);
}

.home_page_module_text {
    color: white;
    font-weight: bolder;
    font-size: 56px;
    text-align: left;
    text-shadow: rgb(0, 0, 0) 0 0 56px;
    margin-bottom: 20px;
}

.home_page_module_button,
.login_module_button {
    /* width: 120px; */
    width: 100%;
    background-color: #997949 !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 26px -18px inset;
}
.home_page_module_button {
    font-size: 30px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.login_module_input_field:focus {
    border-color: #6e5329;
    box-shadow: 0 0 0 0.25rem #6e532952;
}

.login_module_back_arrow {
    transform: scale(1.7);
    color: white;
}

.login_module_back_arrow:hover {
    cursor: pointer;
    transform: scale(1.9);
}

.login_module_form_container {
    margin-top: 45px;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}


.login_module_input_field_title {
    font-size: 23px;
    margin: 0px !important;
}

.login_module_line_break {
    width: 80%;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(139, 107, 58);
    /* background: radial-gradient(circle, rgba(129,99,54,1) 0%, rgba(72,45,4,1) 100%); */
    opacity: 1;
    bottom: 38px;
    border: none;
    border-radius: 10px;
}

.login_module_forgot_password {
    color: white;
    position: absolute;
    bottom: 15px;
    left: 70px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.login_module_forgot_password:hover {
    cursor: pointer;
    text-decoration: underline;
}

.home_page_module_button:hover,
.login_module_button:hover {
    background-color: #6e5329 !important;
}

.home_page_module_button:focus-visible,
.login_module_button:focus-visible {
    box-shadow: 0 0 0 0.15rem #64491d7c;
}

/* ========================= BREAKPOINTS ==================================== */

/* Larger than tablet */
@media only screen and (min-width: 769px) {

    .home_page_module_container,
    .login_module_container {
        height: 400px;
        aspect-ratio: 1;
        top: 50%;
        transform: translateY(-60%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .home_page_module_container {
        right: 10%;
    }

    .login_module_container {
        right: 10% !important;
    }

    .login_module_button {
        position: relative;
        
    }
}

/* For tablets only */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .home_screen_module_container {
        height: calc(100vh - 80px);
    }

    .home_page_module_container,
    .login_module_container {
        width: 400px;
        aspect-ratio: 1;
        left: 50%;
        top: 44%;
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .login_module_container {
        padding: 30px 10px !important;
    }

    .login_module_back_arrow {
        position: relative;
        left: 10px;
    }
}

/* For phones only */
@media only screen and (max-width: 480px) {

    .home_page_module_container,
    .login_module_container {
        width: 310px;
        height: 380px;
        max-height: 380px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        backdrop-filter: blur(3px);
    }

    .login_module_container {
        padding: 30px 20px !important;
    }

    .home_page_module_text {
        font-size: 40px;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .home_page_module_button {
        position: relative;
        /* bottom: -35px; */
    }

    .login_module_back_arrow {
        position: relative;
        /* left: -20px; */
        top: -5px;
    }

    .login_module_form_container {
        margin-top: 35px;
        width: 90%;
        min-width: 200px;
    }

    .login_module_line_break {
        bottom: 33px;
    }

    .login_module_forgot_password {
        left: 55px;
        font-size: 14px;
    }

    .login_module_button {
        width: 100% !important;
        padding-top: 1px !important;
        padding-bottom: 1px !important;
        height: 46px;
        margin-top: 25px;
        /* font-size: large !important;
        font-weight: 600 !important; */
    }
}