.add_guest_screen_container {
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    position: relative;
}

.add_guest_screen_module_container {
    width: 80%;
    height: 90%;
}

/* Larger than tablet */
@media only screen and (min-width: 769px) {
    .add_guest_screen_container {
        height: 90%;
    }
}






/* For Tablet only */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .mobile_add_guest_module {
        background-color: rgba(240, 240, 240, 0.4);
        border-radius: 20px;
        width: 80%;
        height: 55%;
        position: absolute;
        padding: 50px 40px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
    }
    
    .mobile_add_guest_input_field {
        height: 50px;
        font-size: 25px !important;
    }

    .mobile_add_guest_input_field:focus {
        border-color: #6e5329;
        box-shadow: 0 0 0 0.25rem #6e532952;
    }
    
    
    .add_guest_screen_module_container {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }
    
    
    .mobile_add_guest_input_label {
        font-size: 23px;
        margin: 0px !important;
    }
    
    .mobile_add_guest_button {
        width: 160px;
        height: 50px;
        background-color: #816336 !important;
        border: none !important;
        border-radius: 30px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 26px -18px inset;
        font-size: 24px !important;
        margin-top: 18px;
        margin-right: 50px;
    }
    
    .mobile_add_guest_button:hover {
        background-color: #6e5329 !important;
    }
    
    .mobile_add_guest_button:focus-visible {
            box-shadow: 0 0 0 0.15rem #64491d7c;
    }
    
    .mobile_add_guest_checkbox {
        width: 32%;
        margin-top: 20px;
    }
    
    
    
}
