.add_guest_screen_container {
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
    position: relative;
}

.add_guest_screen_module_container {
    width: 80%;
    height: 80%;
    /* background-color: blue; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: rgb(150, 120, 55) !important;
}

.accordion-button:focus {
    z-index: 3;
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000000%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23ffffff%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e") !important;
    transform: rotate(-180deg) !important;
}

.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #b69058 !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #dbc39fa1 !important;
}

.added_guest_form_container hr:last-child {
    display: none;
}












/* Laptop */
@media only screen and (min-width: 769px) {
    .mobile_add_guest_module {
        display: none !important;
    }

    .laptop_add_guest_module {
        width: 100%;
        height: 440px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        max-height: 700px;
        display: flex;
        border-radius: 30px;
        overflow: hidden;
    }

    .laptop_add_guest_invites_container {
        flex: 0.60;
        height: 100%;
        background-color: #ECECEC;
        padding: 60px 40px;
        position: relative;
    }

    .laptop_add_guest_accordian_container {
        height: 95% !important;
        width: 100%;
        overflow-y: scroll !important;
    }

    .laptop_add_guest_invites_guest_info_container {
        flex: 0.4;
        height: 100%;
        background: rgb(129, 99, 54);
        background: linear-gradient(180deg, rgba(129, 99, 54, 1) 0%, rgba(73, 46, 5, 1) 100%);
        padding: 60px 40px;
    }

    .laptop_add_guest_dropdown {
        position: absolute;
        width: 100%;
    }

    .laptop_add_guest_dropdown_toggle {
        position: absolute;
        height: 25px;
        width: 25px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        top: -32px !important;
        right: 10px;
        border: none !important;
    }

    .dropdown-toggle:empty::after {
        transform: scale(2);
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: white;
        text-decoration: none;
        background-color: #b69058 !important;
    }

    .dropdown-item:active .mobile_add_guest_dropdown_option_container .mobile_add_guest_dropdown_option_number {
        color: white !important;
    }

    .dropdown-menu {
        max-height: 262px;
        overflow-y: scroll;
        padding: 0px !important;
        /* padding-top: 5px !important; */
        width: 93%;
        left: 18px !important;
    }

    .laptop_add_guest_dropdown_option_name {
        pointer-events: none;
    }

    .laptop_add_guest_dropdown_option_number {
        font-size: 12px;
        position: relative;
        top: -5px;
        color: rgb(145, 145, 145);
        pointer-events: none;
    }

    .dropdown-divider {
        margin: 0 !important;
    }
    
    .laptop_add_guest_checkbox {
        text-align: left;
        width: 55%;
        margin-top: 20px;
        left: 10px;
        position: relative;
    }

    .form-check-input:checked {
        background-color: #816336 !important;
        border-color: whitesmoke !important;
    }

    .laptop_add_guest_checkbox .form-check-input:checked {
        background-color: white !important;
        border-color: whitesmoke !important;
    }

    .form-check-input:checked[type=checkbox] {
        --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e") !important;
    }

    .laptop_add_guest_button {
        border-radius: 40px !important;
        background-color: #ECECEC !important;
        border: none !important;
        color: #6e5329 !important;
        font-weight: 500 !important;
        position: relative !important;
        bottom: -30px !important;
        width: 130px !important;
        height: 40px !important;
    }

    .invite_new_guests_button {
        border-radius: 40px !important;
        background-color: #6e5329 !important;
        border: none !important;
        color: #ECECEC !important;
        font-weight: 500 !important;
        position: absolute !important;
        bottom: 22px !important;
        left: 50% !important;
        width: 190px !important;
        height: 40px !important;
        transform: translateX(-50%);
    }

    .radio_button {
        text-align: left;
    }

    .form-check-label {
        padding-left: 5px;
    }

    
}




































/* For Tablet only */

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .laptop_add_guest_module {
        display: none !important;
    }

    .mobile_add_guest_module {
        background-color: rgba(240, 240, 240, 0.4);
        border-radius: 20px;
        width: 80%;
        height: 480px;
        position: absolute;
        padding: 50px 40px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-65%);
    }

    .mobile_add_guest_input_field {
        height: 50px;
        font-size: 25px !important;
    }

    .mobile_add_guest_input_field:focus {
        border-color: #6e5329;
        box-shadow: 0 0 0 0.25rem #6e532952;
    }


    .add_guest_screen_module_container {
        width: 80%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }


    .mobile_add_guest_input_label {
        font-size: 23px;
        margin: 0px !important;
    }

    .mobile_add_guest_button {
        width: 160px;
        height: 50px;
        background-color: #816336 !important;
        border: none !important;
        border-radius: 30px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 26px -18px inset;
        font-size: 24px !important;
        margin-top: 18px;
        margin-right: 50px;
    }

    .mobile_add_guest_button:hover {
        background-color: #6e5329 !important;
    }

    .mobile_add_guest_button:focus-visible {
        box-shadow: 0 0 0 0.15rem #64491d7c;
    }

    .mobile_add_guest_checkbox {
        position: relative;
        left: 15px;
        width: 40%;
        margin-top: 20px;
        text-align: left;
    }

    .mobile_add_guest_offcanvas {
        height: 90dvh !important;
    }

    .mobile_add_guest_offcanvas_button {
        width: 100%;
        position: relative;
        top: 60px;
        left: 0px;
    }

    .mobile_add_guest_send_new_invites_button {
        width: 40%;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }

    .form-check-input:checked {
        background-color: #6e5329 !important;
        border-color: #6e5329 !important;
    }

    .phone_logout_button {
        display: none !important;
    }

    .mobile_add_guest_dropdown {
        position: absolute;
        width: 100%;
    }

    .mobile_add_guest_dropdown_toggle {
        position: absolute;
        height: 25px;
        width: 25px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        top: -35px;
        right: 10px;
        border: none !important;
    }

    .dropdown-toggle:empty::after {
        transform: scale(1.5);
    }

    .dropdown-menu {
        max-height: 262px;
        overflow-y: scroll;
        padding: 0px !important;
        padding-top: 5px !important;
        width: 95%;
        left: 20px !important;
    }

    .mobile_add_guest_dropdown_option_name {
        pointer-events: none;
    }

    .mobile_add_guest_dropdown_option_number {
        font-size: 12px;
        position: relative;
        top: -5px;
        color: rgb(145, 145, 145);
        pointer-events: none;
    }

    .dropdown-divider {
        margin: 0 !important;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: #816336 !important;
        border-color: var(--bs-btn-active-border-color);
    }

    .btn:focus-visible {
        color: var(--bs-btn-hover-color);
        background-color: #816336 !important;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #8163367a !important;
    }

    .btn:hover {
        color: var(--bs-btn-active-color);
        background-color: #816336 !important;
        border-color: var(--bs-btn-active-border-color);
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: white;
        text-decoration: none;
        background-color: #b69058 !important;
    }

    .dropdown-item:active .mobile_add_guest_dropdown_option_container .mobile_add_guest_dropdown_option_number {
        color: white !important;
    }

}

































/* For Phone only */

@media only screen and (max-width: 480px) {
    .laptop_add_guest_module {
        display: none !important;
    }

    .mobile_add_guest_module {
        background-color: rgba(240, 240, 240, 0.4);
        border-radius: 20px;
        width: 100%;
        height: 410px;
        position: absolute;
        padding: 20px 20px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-60%);
    }

    .phone_logout_button_container {
        display: flex;
        align-items: center;
    }

    .phone_logout_button_text {
        margin: 0;
        position: relative;
        left: -10px;
        /* top: -1px; */
    }

    .phone_logout_button {
        position: absolute;
        top: -52px;
        left: 0px;
        width: 90px;
        height: 40px;
        background-color: #816336 !important;
        border: none !important;
        border-radius: 30px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 26px -18px inset;
        font-size: 16px !important;
        font-weight: 600 !important;
    }

    .phone_logout_arrow {
        transform: scale(0.6);
        position: relative;
        left: -10px;
    }

    .mobile_add_guest_input_field {
        height: 45px;
        font-size: 20px !important;
        text-align: left;
    }

    .mobile_add_guest_input_field:focus {
        border-color: #6e5329;
        box-shadow: 0 0 0 0.25rem #6e532952;
    }


    .add_guest_screen_module_container {
        width: 80%;
        position: relative;
        top: 2%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }


    .mobile_add_guest_input_label {
        font-size: 23px;
        margin: 0px !important;
        margin-left: 6px !important;
    }

    .mobile_add_guest_button {
        width: 140px;
        height: 40px;
        background-color: #816336 !important;
        border: none !important;
        border-radius: 30px !important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 40px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 26px -18px inset;
        font-size: 20px !important;
        margin-top: 18px;
    }

    .mobile_add_guest_button:hover {
        background-color: #6e5329 !important;
    }

    .mobile_add_guest_button:focus-visible {
        box-shadow: 0 0 0 0.15rem #64491d7c;
    }

    .mobile_add_guest_checkbox {
        text-align: left;
        width: 55%;
        margin-top: 20px;
        left: 10px;
        position: relative;
    }

    .mobile_add_guest_offcanvas {
        height: 90dvh !important;
    }

    .mobile_add_guest_offcanvas_button {
        width: 100%;
        position: relative;
        top: 30px;
        left: 0px;
    }

    .form-check-input:checked {
        background-color: #6e5329 !important;
        border-color: #6e5329 !important;
    }

    .mobile_add_guest_send_new_invites_button {
        width: 80%;
        position: absolute;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%);
    }

    .mobile_add_guest_dropdown {
        position: absolute;
        width: 100%;
    }

    .mobile_add_guest_dropdown_toggle {
        position: absolute;
        height: 25px;
        width: 25px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        top: -35px;
        right: 10px;
        border: none !important;
    }

    .dropdown-toggle:empty::after {
        transform: scale(1.5);
    }

    .dropdown-menu {
        max-height: 262px;
        overflow-y: scroll;
        padding: 0px !important;
        padding-top: 5px !important;
        width: 93%;
        left: 18px !important;
    }

    .mobile_add_guest_dropdown_option_name {
        pointer-events: none;
    }

    .mobile_add_guest_dropdown_option_number {
        font-size: 12px;
        position: relative;
        top: -5px;
        color: rgb(145, 145, 145);
        pointer-events: none;
    }

    .dropdown-divider {
        margin: 0 !important;
    }

    .btn-check:checked+.btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check)+.btn:active {
        color: var(--bs-btn-active-color);
        background-color: #816336 !important;
        border-color: var(--bs-btn-active-border-color);
    }

    .btn:focus-visible {
        color: var(--bs-btn-hover-color);
        background-color: #816336 !important;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #8163367a !important;
    }

    .btn:hover {
        color: var(--bs-btn-active-color);
        background-color: #816336 !important;
        border-color: var(--bs-btn-active-border-color);
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: white;
        text-decoration: none;
        background-color: #b69058 !important;
    }

    .dropdown-item:active .mobile_add_guest_dropdown_option_container .mobile_add_guest_dropdown_option_number {
        color: white !important;
    }
}