.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('C:/Users/urbec/OneDrive/Documents/web_apps/pinnacle_day_passes/public/pinnacle_bkg.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Cabin', sans-serif;
  overflow: hidden;
}

/* smaller than laptop */
@media only screen and (max-width: 768px) {
  .App {
      background-position: 58%; 
      height: 100svh !important;     
  }
}

/* Larger than tablet */
@media only screen and (min-width: 769px) {
  .App {
    padding-top: 40px;
  }
}